<%- include("header") -%>

    <div class="box" id="heading">
      <h1><%= thisDay %></h1>
    </div>

    <div class="box">
        <% newItems.forEach(function(item){ %>
        <div class="item">
            <input type="checkbox">
          <p><%= item %></p>
        </div>
        <% }) %>
        <form action="/" method="post">
            <input type="text" name="newItem" id="" placeholder="New Item" autocomplete="off" >
            <button type="submit" name="list" value="<%= listName %>">+</button>
          </form>
    </div>

<%- include("footer") -%>